:root {
  --black: hsla(0, 0%, 0%, 1);
  --dark-blue: hsla(221, 51%, 16%, 1);
  --orange: hsla(37, 98%, 53%, 1);
  --platinum: hsla(0, 0%, 90%, 1);
  --white: hsla(0, 0%, 100%, 1);
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--platinum);
}

.container {
  margin: 75px auto;
  height: 500px;
  width: 350px;
  box-shadow: 1px 1px 5px var(--dark-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--dark-blue);
}

#display {
  height: 100px;
  font-size: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  border-radius: 8px;
  color: var(--platinum);
}

#input-grid {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 10px;
}

button {
  background-color: var(--white);
  border: none;
  color: var(--dark-blue);
  font-size: 20px;
}

button:hover,
#equals:hover {
  background-color: var(--platinum);
  border: 1px solid var(--orange);
}

button:active,
#equals:active {
  transform: scale(1.1);
}

.operators,
#equals {
  background-color: var(--orange);
}

.extra {
  background-color: hsla(0, 0%, 90%, 1);
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
